<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>kamil</title>
</head>
<body>
    <div class="card-action">
        <h1 id="header">Hello Worlds! Header</h1>
            <ul>
        <li>
                    <a>jeden</a>
        <a id="extra" class="delete-item secondary-content" href="#">dwa</a>
        </li>
        <li class="wyjatowa">2
        <a>jeden</a>
        <a class="delete-item secondary-content">dwa</a>
        </li>
          <li>3</li>
          <!--Test-->
           <li>4</li>
            <li class="wyjatowa">5</li>
             <li>6</li>
             <li>6</li>
    </ul>
        
    </div>
    

    <h1 class="header">Hello Worlds!Class header 1</h1>
    <h1 class="header">Hello Worlds!Class header 2</h1>
    <h1 class="header">Hello Worlds!Class header 3</h1>
    <h1 class="header">Hello Worlds!Class header 4</h1>
    <div class="cartoon" style="margin-top: 1000px;"></div>
    <script type="text/javascript" src="mouseEvents/app.js"></script>
</body>
</html>
