<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>kamil</title>
</head>
<body>
    
    <form id="task-form" action="index.html">
        <input type="text" name="task" id="task" value="Walk the dog">
        <label for="task">New Task</label>
        <input type="submit" value="Add Task" class="btn">
    </form>

    <script type="text/javascript" src="localStorage/app.js"></script>
</body>
</html>
